* {
  margin: 0px;
  color: black;
  text-decoration: none;
}
.appCont {
  display: flex;
  flex-direction: row;
}
.mainPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 22%;
  margin-right: 27%;
}

/* THIS IS A SIMPLE HEADER/BANNER */
.titleBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 20px;
}
.titleBanner div {
  font-size: 35px;
}

/* THIS SECTION IS FOR POSTS STYLE BOTH USERS AND OTHERS */
/* GENERAL DESIGN OF POST */
.postAllCont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 20px 0px 30px 0px;
}
.profileAllCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileIconOut {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 125px;
  background: black;
  padding: 5px;
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
}
.profileIconBody {
  width: 95%;
  height: 95%;
  overflow-wrap: break-word;
  background: white;
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
}
.profileUsername {
  border-style: solid;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  background: white;
  position: absolute;
  transform: rotate(-45deg);
  margin: 85px 0px 0px 70px;
}
.generalPost {
  margin: 55px 0px 25px 0px;
}
.postTitleCont {
  display: flex;
}
.postTitleBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  z-index: 1;
  margin-top: -30px;
}
.postTitleBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.postTitleBody h4 {
  padding: 15px 35px 15px 25px;
}
.postDateTimeCont {
  display: flex;
  justify-content: flex-end;
}
.postDateTimeBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  z-index: 1;
  margin-top: -1.5%;
}
.postDateTimeBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.postDateTimeBody p {
  padding: 10px 25px 10px 25px;
}
.generalPostBorder {
  width: 710px;
  background: black;
  padding: 10px;
  clip-path: polygon(5% 5%, 99% 0%, 95% 98%, 0% 95%);
}
.generalPostBody {
  background: white;
  clip-path: polygon(5% 5%, 99% 0%, 95% 98%, 0% 95%);
}
.generalPostBody p {
  padding: 40px 40px 40px 45px;
  overflow-wrap: anywhere;
}
.iconCont {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  margin: -25px 0px 0px 25px;
}
.iconOut {
  background: black;
  padding: 4px;
  margin: 0px 25px 0px 0px;
  clip-path: polygon(15% 0%, 0% 25%, 1% 97%, 85% 100%, 99% 75%, 98% 1%);
}
.iconBody {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 10px;
  height: 10px;
  clip-path: polygon(20% 0%, 0% 25%, 1% 97%, 80% 100%, 99% 75%, 98% 1%);
}
.iconBody p {
  padding: 0px 0px 0px 0px;
}
/* USER STYLE POST */
.userPostTitleCont {
  display: flex;
  justify-content: flex-end;
}
.userPostTitleBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  z-index: 1;
  margin: -35px -10px 0px 0px;
}
.userPostTitleBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.userPostTitleBody h4 {
  padding: 15px 35px 15px 25px;
}
.userPostBorder {
  width: 710px;
  background: black;
  padding: 10px;
  clip-path: polygon(0% 0%, 96% 8%, 100% 92%, 7% 100%);
}
.userPostBody {
  background: white;
  padding: 10px;
  clip-path: polygon(0% 1%, 97% 3%, 100% 96%, 6% 100%);
}
.userPostBody p {
  padding: 20px 15px 25px 40px;
  overflow-wrap: anywhere;
}
.userPostDateTimeCont {
  display: flex;
}
.userPostDateTimeBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  z-index: 1;
  position: absolute;
  margin: -1.5% 0px 0px 0.5%;
}
.userPostDateTimeBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.userPostDateTimeBody p {
  padding: 10px 25px 10px 25px;
}
.userIconAll {
  display: flex;
  justify-content: flex-end;
}
.userIconCont {
  display: flex;
  position: absolute;
  z-index: 1;
  margin: -1.4% 1.25% 0px 0px;
}
.userIconOut {
  background: black;
  padding: 4px;
  margin: 0px 0px 0px 10px;
  clip-path: polygon(15% 0%, 0% 25%, 1% 97%, 85% 100%, 99% 75%, 98% 1%);
}
.userIconBody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 5px 4px 5px;
  background: white;
  clip-path: polygon(20% 0%, 0% 25%, 1% 97%, 80% 100%, 99% 75%, 98% 1%);
}
.userProfileUsername {
  border-style: solid;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  background: white;
  position: absolute;
  transform: rotate(45deg);
  margin: 80px 0px 0px -70px;
}

/* THIS IS GENERAL STYLE OF COMMENTS */
.commentAll {
  display: flex;
}
.commentCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 25px 0px 15px 0px;
}
.commentThemeOut {
  width: 600px;
  background: black;
  padding: 10px;
  clip-path: polygon(8% 1%, 0% 20%, 5% 97%, 92% 95%, 98% 76%, 95% 4%);
}
.commentThemeBody {
  background: white;
  clip-path: polygon(8% 1%, 1% 20%, 4% 103%, 92% 96%, 97% 76%, 96% 1%);
}
.commentThemeBody p {
  padding: 30px 30px 30px 40px;
  overflow-wrap: anywhere;
}
.commentDateTimeCont {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.commentDateTimeBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  margin: 0px 2% -1% 0px;
}
.commentDateTimeBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.commentDateTimeBody p {
  padding: 8px 45px 8px 35px;
}

/* THIS IS THE GENERAL STYLE OF THREADS */
.allThreadsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.threadBannerCont {
  margin: 35px 0px 20px 0px;
  width: 85%;
}
.threadTitleBorder {
  background: black;
  padding: 5px;
  width: 200px;
  position: absolute;
  z-index: 1;
  margin-top: -15px;
  clip-path: polygon(
    10% 100%,
    0% 66%,
    0% 33%,
    10% 0%,
    90% 0%,
    100% 35%,
    100% 66%,
    90% 100%
  );
}
.threadTitleBody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  background: white;
  clip-path: polygon(
    10% 100%,
    0% 66%,
    0% 33%,
    10% 0%,
    90% 0%,
    100% 35%,
    100% 66%,
    90% 100%
  );
}
.threadBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(3% 100%, 2% 5%, 99% 0%, 97% 90%);
}
.threadBody {
  background: white;
  clip-path: polygon(3% 100%, 2% 5%, 99% 0%, 97% 90%);
}
.threadBody p {
  padding: 35px 35px 45px 45px;
  transform: rotate(-1deg);
}
.threadDateTimeCont {
  display: flex;
  justify-content: flex-end;
}
.threadDateTimeBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  z-index: 1;
  margin: -2% 2% 0px 0px;
}
.threadDateTimeBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.threadDateTimeBody p {
  padding: 10px 25px 10px 25px;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* THIS IS THE NAVBAR */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  height: 95vh;
  border-right: solid;
  border-width: thin;
  border-color: lightgray;
  position: fixed;
  padding: 20px;
}
.navbarBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.navbarChoices {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-width: medium;
  border-color: lightgray;
  border-radius: 30px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}
.navbarChoices:hover {
  background: lightgray;
}
.logInOut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-radius: 50px;
  padding: 15px;
}

/* THIS IS THE MAIN/HOME PAGE */
.showPostPageCont {
  display: flex;
  justify-content: center;
}
.showPostPage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* THIS IS THE RANDOM NEWS */
.randNews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100vh;
  border-left: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 20px;
  position: fixed;
  right: 0px;
  overflow: scroll;
}
.randNews::-webkit-scrollbar {
  display: none;
}
.randNews h2 {
  margin-bottom: 15px;
}
.nextBackBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
}
.nextBackBtn button {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}
.newsCont {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.news {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.news h3,
.news p {
  overflow-wrap: anywhere;
}
.news:hover {
  background: lightgray;
}

/* LOGIN/REGISTER */
.logRegCont {
  display: flex;
  justify-content: center;
  margin: 10% 0px 0px 0px;
}
.loginFormBorder {
  padding: 10px;
  background: black;
  clip-path: polygon(0% 10%, 15% 0%, 100% 0%, 100% 90%, 85% 100%, 0% 100%);
}
.loginFormBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 385px;
  padding: 40px;
  background: white;
  clip-path: polygon(4% 14%, 14% 3%, 100% 0%, 96% 87%, 85% 97%, 0% 100%);
}
.inputCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputOut {
  padding: 10px;
  margin: 0px 10px 10px 10px;
  background: black;
  clip-path: polygon(7% 5%, 105% 5%, 95% 93%, -6% 98%);
}
.inputBody {
  background: white;
  clip-path: polygon(5% 0%, 105% 0%, 95% 100%, -5% 100%);
}
.inputBody input {
  padding: 15px 15px 15px 15px;
  font-size: 15px;
  border: none;
  outline: none;
}
.inputCont button {
  margin: 15px 0px 15px 0px;
}
.regFormBorder {
  padding: 8px;
  background: black;
  clip-path: polygon(0% 10%, 15% 0%, 100% 0%, 100% 90%, 85% 100%, 0% 100%);
}
.regFormBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 450px;
  padding: 45px;
  background: white;
  clip-path: polygon(4% 14%, 14% 3%, 100% 0%, 96% 87%, 85% 97%, 0% 100%);
}
.regFormCont {
  display: flex;
}

/* THIS IS FOR A SINGLE POST PAGE */
.post {
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 20px;
}
.postUserInfoCont {
  display: flex;
  margin-bottom: 20px;
}
.postUserInfo {
  width: 100%;
  margin-left: 15px;
}
.commentPostFormCont {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px 35px 0px;
  border-bottom: solid;
  border-top: solid;
  border-width: thin;
  border-color: lightgray;
}
#commentPostFormCont {
  display: none;
}
.commentPostFormAllCont {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.commentPostFormBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(8% 1%, 0% 20%, 5% 97%, 92% 95%, 98% 76%, 95% 4%);
}
.commentPostFormBody {
  display: flex;
  flex-direction: column;
  background: white;
  clip-path: polygon(8% 1%, 0% 20%, 5% 97%, 92% 95%, 98% 76%, 95% 4%);
}
.commentPostFormBody textarea {
  padding: 15px 55px 30px 55px;
  border: none;
  outline: none;
}
.addCommentBtnCont {
  display: flex;
  justify-content: flex-end;
}
.addCommentBtn {
  position: absolute;
  margin: -1.5% 2.5% 0px 0px;
}
.addCommentBtn button {
  border-style: solid;
  border-width: medium;
  background: white;
  padding: 10px 15px 10px 15px;
  margin: 0px 0px 0px 15px;
}
.allPostComments {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* THIS IS FOR PROFILE PAGE */
.banner {
  height: 225px;
  background-color: lightgray;
}
.accountBanner {
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}
.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  right: 0px;
  bottom: 100px;
  margin: 20px;
}
.accountIcon {
  width: 150px;
  height: 150px;
  border-radius: 90px;
  background-color: lightgray;
  border-style: solid;
  border-width: 10px;
  border-color: white;
}
.categoriesCont {
  display: flex;
  flex-direction: row;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 20px;
}
.categoriesCont div {
  border-style: solid;
  border-width: thin;
  border-color: black;
  padding: 10px;
  border-radius: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.categoriesCont div:hover {
  background-color: lightgray;
}
.allUsersPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.allUsersComments {
  display: none;
  flex-direction: column;
  align-items: center;
}
#allUsersComments {
  display: none;
}
.allUsersThreads {
  display: none;
  flex-direction: column;
  align-items: center;
}
#allUsersThreads {
  display: none;
}
.threadEditBtnCont {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -25px 0px 0px 50px;
}
.threadEditBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: thick;
  background: white;
  padding: 2.5px;
  margin: 0px 10px 0px 0px;
}
.bookmarkAllBtnCont {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  margin: -0.8% 0% 0px 2%;
}
.bookmarkBtnCont {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
}
.bookmarkBtn {
  margin: 0px 20px 0px 0px;
}
.bookmarkBtn button {
  border-style: solid;
  border-width: medium;
  padding: 10px;
  background: white;
}

/* THIS IS FOR EXPLORE PAGE */
.postSearchInputCont {
  display: flex;
  flex-direction: column;
  padding: 20px 25px 20px 25px;
}
.postSearchInputBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(0% 8%, 97% 1%, 100% 95%, 3% 99%);
}
.postSearchInputBody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: white;
  clip-path: polygon(0% 5%, 97% 5%, 100% 95%, 3% 89%);
}
.postSearchInputBody input {
  padding: 20px 35px 25px 35px;
  font-size: 17px;
}
.searchBtnAllCont {
  display: flex;
  justify-content: flex-end;
}
.searchBtnCont {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -1.5% 2% 0px 0px;
}
.threadSearchBtnBody {
  padding: 5px 10px 5px 10px;
}

/* THIS IS THE SETTINGS */
.updateFormCont {
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 20px 25px 20px 25px;
}
.updateFormBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(1% 2%, 99% 1%, 95% 98%, 4% 98%);
}
.updateFormBody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: white;
  padding: 30px 0px 30px 0px;
  clip-path: polygon(2% 4%, 98% 2%, 95% 97%, 4% 97%);
}
.userUpdate,
.passUpdate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userUpdate h3,
.passUpdate h3 {
  margin-bottom: 20px;
}
.updateBtn {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.updateInputBorder {
  background: black;
  padding: 6px;
  margin: 0px 0px 15px 0px;
  clip-path: polygon(5% 0%, 105% 0%, 95% 100%, -5% 100%);
}
.updateInputBody {
  background: white;
  clip-path: polygon(5% 0%, 105% 0%, 95% 100%, -5% 100%);
}
.updateInputBody input {
  outline: none;
  border: none;
  padding: 8px 15px 8px 15px;
}

/* ALLTHREADS PAGE */
.threadSearchPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 25px 15px 35px 15px;
}
.threadSearchInputCont {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.threadSearchAllBtnCont {
  display: flex;
  justify-content: flex-end;
}
.threadSearchAllBtn {
  display: flex;
  position: absolute;
  margin: -1.8% 2% 0px 0px;
}
.threadSearchInputBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(0% 8%, 97% 1%, 100% 95%, 3% 99%);
  margin: 0px 10px 0px 10px;
}
.threadSearchInputBody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: white;
  clip-path: polygon(0% 5%, 97% 5%, 100% 95%, 3% 89%);
}
.threadSearchInputBody input {
  padding: 20px 30px 30px 35px;
  border: none;
  outline: none;
  font-size: 15px;
}
.threadSearchBtnBorder {
  background: black;
  padding: 6px;
  margin: 0px 10px 0px 10px;
  clip-path: polygon(0% 4%, 76% 3%, 97% 20%, 98% 100%, 24% 100%, 6% 85%);
}
.threadSearchBtnBody {
  background: white;
  clip-path: polygon(0% 0%, 78% 5%, 95% 23%, 99% 100%, 24% 100%, 6% 85%);
}
.threadSearchBtnBody p {
  padding: 6px 30px 6px 30px;
}
.createThreadBtnBorder {
  background: black;
  padding: 6px;
  margin: 0px 10px 0px 10px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.createThreadBtnBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.createThreadBtnBody p {
  padding: 15px 30px 20px 30px;
}
.createThreadFormCont {
  display: flex;
  justify-content: center;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 35px 0px 30px 0px;
}
#createThreadFormCont {
  display: none;
}
.createThreadForm {
  width: 80%;
}
.createThreadTitleBorder {
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin: -15px 0px 0px 0px;
  background: black;
  clip-path: polygon(
    10% 100%,
    0% 66%,
    0% 33%,
    10% 0%,
    90% 0%,
    100% 35%,
    100% 66%,
    90% 100%
  );
}
.createThreadTitleBody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  background: white;
  clip-path: polygon(
    10% 100%,
    0% 66%,
    0% 33%,
    10% 0%,
    90% 0%,
    100% 35%,
    100% 66%,
    90% 100%
  );
}
.createThreadTitleBody input {
  padding: 6px 10px 6px 10px;
  border: none;
  outline: none;
}
.createThreadDescBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(3% 100%, 2% 5%, 99% 0%, 97% 90%);
}
.createThreadDescBody {
  display: flex;
  background: white;
  clip-path: polygon(3% 100%, 2% 5%, 99% 0%, 97% 90%);
}
.createThreadDescBody textarea {
  width: 100%;
  padding: 35px 40px 30px 40px;
  border: none;
  outline: none;
}
.createThreadBtnAllCont {
  display: flex;
  justify-content: flex-end;
}
.createThreadBtnAll {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -1.9% 2% 0px 0px;
}
.createThreadBtnAll div {
  border-style: solid;
  border-width: thick;
  background: white;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 0px 25px;
}

/* THIS IS FOR SPECIFIC THREAD PAGES */
.threadPage {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 0px;
  bottom: 100px;
  margin: 20px;
  align-items: center;
}
.accountIconCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accountIconCont p {
  font-size: 25px;
}
.threadDescCont {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin: 140px 0px 0px 190px;
  position: absolute;
}
.threadDescBorder {
  background: black;
  padding: 10px;
  margin: 0px 0px 0px 25px;
  clip-path: polygon(0% 7%, 100% 2%, 97% 96%, 3% 98%);
}
.threadDescBody {
  background: white;
  clip-path: polygon(0% 6%, 100% 0%, 98% 95%, 2% 100%);
}
.threadDescBody p {
  padding: 30px 30px 35px 30px;
}
.allBtnCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.allBtn {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -4% 5% 0px 0px;
}
.allBtn div {
  background: white;
  border-style: solid;
  border-width: thick;
  border-color: black;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 0px 15px;
}
.formCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}
.postFormAllCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  width: 100%;
  padding: 45px 0px 40px 0px;
}
#postFormAllCont {
  display: none;
}
.postFormCont {
  display: flex;
  flex-direction: column;
}
.postTitleFormBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  z-index: 1;
  margin-top: -1%;
}
.postTitleFormBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.postTitleFormBody input {
  min-width: 100px;
  padding: 10px 20px 10px 20px;
  border: none;
  outline: none;
}
.postFormBorder {
  width: 710px;
  background: black;
  padding: 10px;
  clip-path: polygon(5% 5%, 99% 0%, 95% 98%, 0% 95%);
}
.postFormBody {
  display: flex;
  flex-direction: column;
  background: white;
  clip-path: polygon(5% 5%, 99% 0%, 95% 98%, 0% 95%);
}
.postFormBody textarea {
  padding: 25px 40px 20px 45px;
}
.postFormAllBtnCont {
  display: flex;
  justify-content: flex-end;
}
.postFormBtnCont {
  position: absolute;
  margin: -1.5% 3% 0px 0px;
}
.postFormBtnCont button {
  background: white;
  border-style: solid;
  border-width: medium;
  margin: 0px 0px 0px 20px;
  padding: 10px 15px 10px 15px;
}

/* THIS IS FOR THE USERS JOINED THREADS PAGE */
.joinedThreadsCont {
  display: flex;
  flex-direction: row;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 20px;
}
.joinedThreads {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 50px;
  padding: 6px 10px 6px 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}
.joinedThreads:hover {
  background: lightgray;
}
.myThreadsPostPage {
  margin: 20px 0px 40px 0px;
}

/* THIS IS THE BOOKMARK PAGE */
.unBookmarkBtn button {
  border-radius: 50px;
  padding: 6px 10px 6px 10px;
  cursor: pointer;
}
.unBookmarkBtn button:hover {
  background: lightgray;
}

/* THIS IS FOR NAVBAR ICONS */
.starTestOut {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  width: 100px;
  height: 100px;
  padding: 10px;
  clip-path: polygon(
    50% 5%,
    61% 40%,
    98% 40%,
    68% 62%,
    79% 96%,
    50% 75%,
    21% 96%,
    32% 62%,
    2% 40%,
    39% 40%
  );
}
.starTestIn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 80%;
  height: 80%;
  clip-path: polygon(
    50% 5%,
    61% 40%,
    98% 40%,
    68% 62%,
    79% 96%,
    50% 75%,
    21% 96%,
    32% 62%,
    2% 40%,
    39% 40%
  );
}

/* HEXAGON */
.hexaIconOut {
  display: flex;
  background: black;
  width: 60px;
  height: 65px;
  padding: 2px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  justify-content: center;
  align-items: center;
}
.hexaIconIn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 90%;
  height: 90%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.navBarCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.navBarCont p {
  border-style: solid;
  border-radius: 50px;
  padding: 10px;
}

.notification {
  display: flex;
  justify-content: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
